@font-face {
    font-family: 'astradjingga';
    src: url(fonts/astradjingga/Astradjingga\ Rough.ttf);
}
@font-face {
    font-family: 'Obrazec';
    src: url(fonts/Obrazec/Obrazec-2.ttf);
}
h1{
    font-family: 'Obrazec',sans-serif;
    
}
.calculator{
    width: 80%;
    /*height:55vh;
    margin:1rem 10rem;
    padding-left: 20rem;*/
    
    
    
}
.calc-display{
    /*width:32.7%;
    height:20%;*/
    width:220px;
    height:79px;
    border:2px solid black;
    background-color: green;
}
.calc-container{
    width:max-content;
    display:flex;
    flex-direction: column;
    
}
.backspace-block{width:68px;}
.backspace{
    display: inline-block;
    position:relative;
    left:/*2.5rem*/ 0.75rem;
    top:2rem;
}
.digit-block{
    display:flex;
    flex-direction: row;
    /*gap:5rem;*/
}
.digit-block:not(:first-child) .digit,.clear,.equals{
    flex-grow:1!important;
}
.operator-block{
    width:5rem;
    display:flex;
    flex-direction: column;
    

}
/*-25.85rem;*/
.position-block{
    display:inline-block;
    position:relative;
    top:-32.3rem;
    left:25rem;
}
.digit-block div{
    flex-grow: 0.1;
    border: 1px solid lightgrey;
    
    
}
.operator-block div{
    flex:0.5 1 2rem;
    border: 1px solid black;

}
.digit-block div{
    background-color: aqua;

}
.operator-block div{
    background-color:rgb(200, 97, 7); 
}

.digit-block p,.operator-block p{
    font-size: 2rem;
    text-align: center;
}


.text-logo{
    display:inline-block;
    font-family: 'astradjingga',sans-serif;
    /*font-style: italic;*/
    
}
.img-logo{
    margin-left: 1.5rem;
}



