.calculator{
    width: 80%;
    height:55vh;
    margin:5rem 10rem;
    padding-left: 20rem;
    
    
    
}
.calc-display{
    width:32.7%;
    height:20%;
    border:2px solid black;
    background-color: green;
}
.calc-container{
    
    display:flex;
    flex-direction: column;
    
}
.digit-block{
    display:flex;
    flex-direction: row;
    
    /*gap:5rem;*/
}
.digit-block div{
    flex-grow: 0.1;
    border: 1px solid lightgrey;
    background-color: aqua;
    
}

.digit-block p{
    font-size: 2rem;
    text-align: center;
}